<section class="hero" id="hero">
  <div class="hero-slick">
    <img
      src="assets/images/landingSection/landing_1.jpg"
      alt="hero 1"
      loading="lazy"
    />
    <img
      src="assets/images/landingSection/landing_2.jpg"
      alt="hero 2"
      loading="lazy"
    />
    <img
      src="assets/images/landingSection/landing_3.jpg"
      alt="hero 3"
      loading="lazy"
    />
    <img
      src="assets/images/landingSection/landing_4.jpg"
      alt="hero 4"
      loading="lazy"
    />
  </div>

  <div class="text">
    <h2>مرحباً بكم في سعى!</h2>
    <p>انضم إلينا لمساعدة المجتمع وتحقيق التغيير الإيجابي.</p>
    <a href="joinus.html" class="btn">انضم إلينا</a>
  </div>
</section>
