<header>
  <nav
    class="navbar navbar-expand-lg bg-body-tertiary position-fixed w-100 z-3"
  >
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/images/logo2.svg" alt="logo" width="70px" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="تبديل التنقل"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <!-- Home Link -->
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              الرئيسية
            </a>
          </li>

          <!-- About Link -->
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/about"
              routerLinkActive="active-link"
            >
              مبادراتنا
            </a>
          </li>

          <!-- Volunteer Opportunities Link -->
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/volunteer-opportunity"
              routerLinkActive="active-link"
            >
              فرص التطوع
            </a>
          </li>

          <!-- Donations Link -->
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/donate"
              routerLinkActive="active-link"
            >
              التبرعات
            </a>
          </li>

          <!-- Contact Us Link -->
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/contact"
              routerLinkActive="active-link"
            >
              اتصل بنا
            </a>
          </li>
        </ul>

        <!-- Login Button -->
        <a class="btn ms-3" routerLink="/login" routerLinkActive="active-link">
          تسجيل الدخول
        </a>
      </div>
    </div>
  </nav>
</header>
