<section class="about-us section-padding">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
          <div>
            <img
              src="assets/images/aboutPage/vision.jpg"
              alt="mission"
              loading="lazy"
            />
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="about-txt">
            <h2 class="section-title mb-4">
              عن جمعية <span class="color">سعى</span>
            </h2>
            <p>
              جمعية سعى هي منظمة غير ربحية تهدف إلى تحقيق التغيير الإيجابي في
              المجتمع من خلال العمل التطوعي والمبادرات الإنسانية. تأسست
              الجمعية في بدايات القرن العشرين، ومنذ ذلك الحين ونحن نعمل جاهدين
              لتحقيق الأهداف الإنسانية ودعم القضايا الاجتماعية المهمة.
            </p>
            <ul>
              <li>تقديم الدعم والمساعدة للأفراد والمجتمعات المحتاجة</li>
              <li>
                تنظيم ورش عمل ومبادرات لتوعية المجتمع وتعليم المهارات الحياتية
              </li>
              <li>تشجيع العمل التطوعي والمشاركة الفعالة في قضايا المجتمع</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>