<section class="volunteer-intro section-padding">
  <div class="container">
    <h2 class="section-title mb-5 text-center">
      انضم إلينا <span class="color">كمتطوع</span>
    </h2>
    <div class="row">
      <div class="col">
        <p class="text-center">
          "نحن في جمعية سعى نؤمن بقوة العمل الجماعي والتطوع. انضم إلينا وساهم في
          تحقيق أهدافنا ومساعدة الآخرين. اكتشف كيف يمكنك أن تكون جزءًا من فريقنا
          وتساهم في إحداث فرق."
        </p>
      </div>
    </div>
  </div>
</section>
