<section class="features">
  <h2>مميزات الانضمام</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex">
        <div class="card flex-fill">
          <img
            src="assets/images/joinus/download.jpeg"
            class="card-img-top"
            alt="تطوير المهارات الشخصية والمهنية"
          />
          <div class="card-body">
            <h5 class="card-title">تطوير المهارات الشخصية والمهنية</h5>
            <p class="card-text">
              في فريق "سعي"، ستتاح لك الفرصة للعمل على مشاريع حقيقية تخدم
              المجتمع.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex">
        <div class="card flex-fill">
          <img
            src="assets/images/joinus/download (1).jpeg"
            class="card-img-top"
            alt="العمل في بيئة مليئة بالشغف والتحديات"
          />
          <div class="card-body">
            <h5 class="card-title">العمل في بيئة مليئة بالشغف والتحديات</h5>
            <p class="card-text">
              العمل في هذه البيئة يمنحك تحديات يومية تحفزك على الابتكار والتطوير
              المستمر.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex">
        <div class="card flex-fill">
          <img
            src="assets/images/joinus/download (2).jpeg"
            class="card-img-top"
            alt="المساهمة في إحداث أثر إيجابي في المجتمع"
          />
          <div class="card-body">
            <h5 class="card-title">المساهمة في إحداث أثر إيجابي في المجتمع</h5>
            <p class="card-text">
              ستعمل على مشاريع تهدف إلى دعم المبادرات المجتمعية.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
