<div class="container">
    <div class="login">
      <div class="row">
        <div class="col-md-6">
          <form>
            <h1>مرحبا !</h1>
            <input type="email" placeholder="البريد الالكتروني" required />
            <input type="password" placeholder="كلمة المرور" required />
            <a href="#">هل نسيت كلمة المرور..؟</a><br/>
            <a routerLink="/register">مشترك جديد؟</a>
            <button type="submit">دخول</button>
          </form>
        </div>
        <div class="col-md-6">
          <img 
          src="assets\images\loginPage\image_processing20200121-30457-djhwgv-removebg-preview.png"
           alt="register"
           loading="lazy"
           />
        </div>
      </div>
    </div>
  </div>
  