<section class="contact_us section-padding">
    <div class="container">
      <div class="contact-form">
        <div class="row">
          <div class="col-lg-6 col-md-6 left-section">
            <h1>نحن هنا لمساعدتك!</h1>
            <p>لا تتردد في التواصل معنا. نحن نسعى لتقديم أفضل خدمة ممكنة.</p>
          </div>

          <div class="col-lg-6 col-md-6">
            <form
              action="/submit-registration"
              method="post"
              role="form"
              class="form-horizontal"
            >
              <div class="form-body">
                <h3>تواصل معنا</h3>

                <div class="mb-3">
                  <label class="form-label" for="fname">الاسم بالكامل</label>
                  <input
                    type="text"
                    required
                    class="form-control"
                    aria-label="Full name"
                    id="fname"
                    placeholder="أدخل اسمك الكامل"
                  />
                </div>

                <div class="mb-3">
                  <label class="form-label" for="email"
                    >البريد الإلكتروني</label
                  >
                  <input
                    type="email"
                    required
                    class="form-control"
                    aria-label="Email"
                    id="email"
                    placeholder="أدخل بريدك الإلكتروني"
                  />
                </div>

                <div class="mb-3">
                  <label class="form-label" for="phone">رقم الهاتف</label>
                  <input
                    type="text"
                    required
                    class="form-control"
                    aria-label="Phone"
                    id="phone"
                    placeholder="أدخل رقم هاتفك"
                  />
                </div>

                <div class="mb-3">
                  <label class="form-label" for="message">رسالتك</label>
                  <textarea
                    class="form-control"
                    required
                    aria-label="Message"
                    id="message"
                    rows="5"
                    placeholder="أدخل رسالتك"
                  ></textarea>
                </div>

                <button type="submit" class="btn btn-primary w-100">
                  إرسال
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>