h2 {
  margin: 15px 0;
  padding: 10px;
  color: #0f4604;
}

.form {
  padding: 50px 0;
  text-align: center;
}

.social-media-section {
  background-image: url("/assets/images/joinus/images (1).jpeg");
  background-size: cover;
  background-position: center;
  color: var(--white-color);
  text-align: center;
  padding: 30px 0;
  position: relative;
  margin-bottom: 50px;
}

.social-media-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 70%);
  z-index: 1;
}

.social-media-section h1 {
  position: relative;
  z-index: 2;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  a {
    font-size: 30px;
  }
}


.mb-3 {
  text-align: right;
  margin-bottom: 20px;
}
.fab {
  color: #fff;
}
.fab:hover {
  transform: scale(1.05);
}
