<app-landing></app-landing>

<app-features></app-features>

<app-joinus-form></app-joinus-form>

<app-faq></app-faq>

<section class="social-media-section">
  <div class="overlay"></div>
  <h1 style="margin: 15px; padding: 9px">تابعنا على وسائل التواصل الاجتماعي</h1>
  <div class="social-icons">
    <a href="#"><i class="fab fa-facebook-square"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</section>
