<section class="mission wrapper" id="about">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-6">
        <div class="position-relative">
          <div class="section-heading">
            <p>مهمتنا</p>
            <h2>مهمتنا</h2>
          </div>
          <p class="description">
            نسعى من خلال جهودنا التطوعية إلى إحداث تأثير إيجابي ومستدام في حياة
            الأطفال والشباب المشردين والعاملين في الشوارع. هدفنا هو تمكينهم من
            خلال تقديم الدعم والرعاية والمساهمة في بناء مستقبل أفضل لهم.
          </p>
          <a href="#!" class="btn"> اقرأ المزيد </a>
          <img
            src="assets/images/aboutPage/icon-7.png"
            alt="about"
            loading="lazy"
            class="image"
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div>
          <img
            src="assets/images/aboutPage/vision.jpg"
            alt="mission"
            loading="lazy"
          />
        </div>
      </div>
    </div>
    <div class="row flex-row-reverse">
      <div class="col-lg-6">
        <div class="position-relative">
          <div class="section-heading">
            <p>رؤيتنا</p>
            <h2>رؤيتنا</h2>
          </div>
          <p class="description">
            رؤيتنا تتمثل في بناء مجتمع قائم على التضامن والمساواة، حيث تتاح
            الفرصة لكل فرد للنمو والازدهار. نؤمن بأن العمل الجماعي التطوعي هو
            السبيل لتحقيق هذا الهدف وبناء مستقبل مشرق للجميع.
          </p>
          <a href="#!" class="btn"> اقرأ المزيد </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div>
          <img
            src="assets/images/aboutPage/vision.jpg"
            alt="vision"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</section>
