<section class="volunteer-opportunities section-padding">
    <div class="container">
      <h2 class="section-title mb-5 text-center">
        فرص التطوع <span class="color">المتاحة</span>
      </h2>
      <div class="row">
        <div class="col-md-4">
          <div class="volunteer-opportunity">
            <a class="h4 d-block mb-4" href="#">مشروع التوعية الصحية</a>
            <p>
              انضم إلى فريقنا في مشروع التوعية الصحية وتساعد في نشر الوعي حول
              الصحة والتغذية السليمة.
            </p>
            <button
              class="btn"
              data-bs-toggle="modal"
              data-bs-target="#volunteerFormModal"
            >
              تقديم
            </button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="volunteer-opportunity">
            <a class="h4 d-block mb-4" href="#">برنامج التعليم</a>
            <p>
              ساهم في تحسين مستوى التعليم للأطفال من خلال تقديم الدروس
              والمساعدة في الواجبات المدرسية.
            </p>
            <button
              class="btn "
              data-bs-toggle="modal"
              data-bs-target="#volunteerFormModal"
            >
              تقديم
            </button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="volunteer-opportunity">
            <a class="h4 d-block mb-4" href="#">جمع التبرعات</a>
            <p>
              ساعدنا في تنظيم فعاليات لجمع التبرعات لدعم مشاريعنا ومبادراتنا
              المختلفة.
            </p>
            <button
              class="btn "
              data-bs-toggle="modal"
              data-bs-target="#volunteerFormModal"
            >
              تقديم
            </button>
          </div>
        </div>

        <div class="col-md-4">
          <div class="volunteer-opportunity">
            <a class="h4 d-block mb-4" href="#">توعية المجتمع</a>
            <p>
              شارك في تنظيم حملات توعية للمجتمع حول القضايا المهمة وطرق
              المساهمة في الحلول.
            </p>
            <button
              class="btn "
              data-bs-toggle="modal"
              data-bs-target="#volunteerFormModal"
            >
              تقديم
            </button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="volunteer-opportunity">
            <a class="h4 d-block mb-4" href="#">مشروع النظافة العامة</a>
            <p>
              شارك في جهود تنظيف الأحياء والشوارع لتعزيز الوعي البيئي والحفاظ
              على النظافة.
            </p>
            <button
              class="btn "
              data-bs-toggle="modal"
              data-bs-target="#volunteerFormModal"
            >
              تقديم
            </button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="volunteer-opportunity">
            <a class="h4 d-block mb-4" href="#">دعم كبار السن</a>
            <p>
              انضم إلى فريقنا لمساعدة كبار السن من خلال تقديم الرعاية
              والمساعدة في حياتهم اليومية.
            </p>
            <button
              class="btn "
              data-bs-toggle="modal"
              data-bs-target="#volunteerFormModal"
            >
              تقديم
            </button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="volunteer-opportunity">
            <a class="h4 d-block mb-4" href="#">حماية البيئة</a>
            <p>
              ساعد في جهود حماية البيئة من خلال غرس الأشجار والمشاركة في حملات
              التوعية البيئية.
            </p>
            <button
              class="btn "
              data-bs-toggle="modal"
              data-bs-target="#volunteerFormModal"
            >
              تقديم
            </button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="volunteer-opportunity">
            <a class="h4 d-block mb-4" href="#">التدريب المهني</a>
            <p>
              انضم إلينا لتقديم دورات تدريبية في مجالات مهنية متعددة لتطوير
              مهارات الشباب.
            </p>
            <button
              class="btn "
              data-bs-toggle="modal"
              data-bs-target="#volunteerFormModal"
            >
              تقديم
            </button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="volunteer-opportunity">
            <a class="h4 d-block mb-4" href="#">الدعم النفسي والاجتماعي</a>
            <p>
              قدم الدعم النفسي والاجتماعي للفئات المحتاجة لمساعدتهم على التغلب
              على الصعوبات.
            </p>
            <button
              class="btn "
              data-bs-toggle="modal"
              data-bs-target="#volunteerFormModal"
            >
              تقديم
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>