<section class="volunteer-opportunities section-padding">
  <div class="container">
    <h2 class="section-title mb-5 text-center">
      فرص التطوع <span class="color">المتاحة</span>
    </h2>
    <div class="row">
      <ng-container *ngFor="let opportunity of opportunities">
        <div class="col-md-4">
          <div class="volunteer-opportunity">
            <a class="h4 d-block mb-4" href="#">{{ opportunity.title }}</a>
            <p>{{ opportunity.description }}</p>
            <button
              class="btn"
              data-bs-toggle="modal"
              data-bs-target="#volunteerFormModal"
            >
              تقديم
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<div
  class="modal fade"
  id="volunteerFormModal"
  tabindex="-1"
  aria-labelledby="volunteerFormModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="volunteerFormModalLabel">نموذج التقديم</h5>
        <button
          type="button"
          class="btn-close ms-0 me-auto"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">الاسم الكامل</label>
            <input type="text" class="form-control" id="name" required />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">البريد الإلكتروني</label>
            <input type="email" class="form-control" id="email" required />
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">رقم الهاتف</label>
            <input type="tel" class="form-control" id="phone" required />
          </div>
          <div class="mb-3">
            <label for="volunteerOpportunities" class="form-label"
              >اختر فرصة التطوع</label
            >
            <select class="form-select" id="volunteerOpportunities">
              <option value="health">مشروع التوعية الصحية</option>
              <option value="education">برنامج التعليم</option>
              <option value="fundraising">جمع التبرعات</option>
            </select>
          </div>
          <button type="submit" class="btn">إرسال</button>
        </form>
      </div>
    </div>
  </div>
</div>
