<section class="volunteer-registration section-padding">
  <div class="container">
    <h2 class="section-title mb-5 text-center">كيف تصبح متطوعًا</h2>
    <p>للانضمام إلينا كمتطوع، يرجى اتباع الخطوات التالية:</p>
    <ol>
      <li>
        ملء
        <a
          href="login.html"
          style="text-decoration: underline; color: inherit; color: blue"
          >نموذج التسجيل</a
        >
        المتاح على موقعنا.
      </li>
      <li>الانتظار لتلقي دعوة لمقابلة أو دورة تدريبية.</li>
      <li>حضور الدورة التدريبية والتعرف على المزيد عن الفرص المتاحة.</li>
      <li>البدء في العمل والمشاركة في الأنشطة التطوعية.</li>
    </ol>
  </div>
</section>
