<section class="events section-padding" id="events">
    <div class="container">
      <div class="section-title mb-5 text-center">
        <h2 class="section-title mb-4">فعالياتنا</h2>
        <p>كن جزءًا من حملة تشجير، وامنح كوكبنا حياة جديدة</p>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-lg-6">
          <div class="events-txt">
            <h3 class="mb-3">حملة التشجير</h3>
            <p>
              انضم إلينا في حملة التشجير التي تهدف إلى تعزيز المساحات الخضراء
              والمساهمة في الحفاظ على البيئة. هذه المبادرة تهدف إلى غرس أشجار
              جديدة في مناطق مختلفة لزيادة الوعي بأهمية الحفاظ على الطبيعة.
            </p>
            <a href="#" class="btn" onclick="openModal(1)">إعرف التفاصيل</a>
          </div>
        </div>

        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
          <div>
            <img
              src="assets/images/homePage/tasger.jpeg"
              alt="حملة تشجير"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
  </section>