<section class="events section-padding" id="events">
  <div class="container">
    <div class="section-title mb-5 text-center">
      <h2 class="section-title mb-4">فعالياتنا</h2>
      <p>كن جزءًا من حملة تشجير، وامنح كوكبنا حياة جديدة</p>
    </div>
    <div class="row align-items-center">
      <div class="col-12 col-lg-6">
        <div class="events-txt">
          <h3 class="mb-3">حملة التشجير</h3>
          <p>
            انضم إلينا في حملة التشجير التي تهدف إلى تعزيز المساحات الخضراء
            والمساهمة في الحفاظ على البيئة. هذه المبادرة تهدف إلى غرس أشجار
            جديدة في مناطق مختلفة لزيادة الوعي بأهمية الحفاظ على الطبيعة.
          </p>
          <a href="#" class="btn" (click)="openModal(1)">إعرف التفاصيل</a>
        </div>
      </div>

      <div class="col-12 col-lg-6 mb-4 mb-lg-0">
        <div>
          <img
            src="assets/images/homePage/tasger.jpeg"
            alt="حملة تشجير"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal for Details -->
<div *ngIf="isDetailsModalVisible" id="modal-det" class="modal-det active">
  <div class="modal-content-det">
    <div [innerHTML]="modalText"></div>
    <!-- This will display the dynamic content -->
    <div class="d-flex align-items-center gap-2 justify-content-center">
      <button class="btn btn-success" (click)="openRegistrationModal()">
        سجل الآن
      </button>
      <button class="btn" (click)="closeModal()">إغلاق</button>
    </div>
  </div>
</div>

<!-- register form -->
<div
  *ngIf="isRegistrationModalVisible"
  id="registrationModal"
  class="modal-reg {{ isRegistrationModalVisible ? 'active' : '' }}"
>
  <div class="modal-content-reg">
    <h5>سجل الآن</h5>
    <form (submit)="onSubmit($event)">
      <div class="form-group">
        <label for="name">الاسم</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="ادخل اسمك"
          required
        />
      </div>
      <div class="form-group">
        <label for="email">الايميل</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="ادخل ايميلك"
          required
        />
      </div>
      <div class="form-group">
        <label for="address">العنوان</label>
        <input
          type="text"
          class="form-control"
          id="address"
          placeholder="ادخل عنوانك"
          required
        />
      </div>
      <div class="form-group">
        <label for="age">السن</label>
        <input
          type="number"
          class="form-control"
          id="age"
          placeholder="ادخل سنك"
          required
        />
      </div>
      <button type="submit" class="btn" (click)="openSuccessModal()">
        إرسال
      </button>
      <button type="button" class="btn" (click)="closeRegistrationModal()">
        إغلاق
      </button>
    </form>
  </div>
</div>

<!-- success after register -->
<div
  *ngIf="isSuccessModalVisible"
  id="successModal"
  class="modal-success {{ isSuccessModalVisible ? 'active' : '' }}"
>
  <div class="modal-content-success">
    <h5>تم التسجيل بنجاح!😊</h5>
    <p>شكرًا لك على التسجيل. سنقوم بالتواصل معك قريبًا.</p>
    <button class="btn" (click)="closeSuccessModal()">إغلاق</button>
  </div>
</div>
