<section class="testimonials section-padding">
    <div class="container">
      <h2 class="section-title mb-5 text-center">
        شهادات <span class="color">المستفيدين</span>
      </h2>
      <div class="testimonials-wrapper">
        <div class="testimonial">
          <p>
            "عملت مع جمعية سعى وكانت تجربة رائعة. الأثر الذي حققته الجمعية
            مذهل."
          </p>
          <h5>محمد علي</h5>
          <span>متطوع</span>
        </div>
        <div class="testimonial">
          <p>
            "استفدت كثيراً من المبادرات التي تقدمها جمعية سعى، والتبرعات كانت
            سبباً في تحسين حياتي."
          </p>
          <h5>سارة أحمد</h5>
          <span>مستفيد</span>
        </div>
        <div class="testimonial">
          <p>"دائماً ما أجد الدعم والتوجيه من الجمعية."</p>
          <h5>أحمد خالد</h5>
          <span>مستفيد</span>
        </div>
        <div class="testimonial">
          <p>"دائماً ما أجد الدعم والتوجيه من الجمعية."</p>
          <h5>أحمد خالد</h5>
          <span>مستفيد</span>
        </div>
        <div class="testimonial">
          <p>"دائماً ما أجد الدعم والتوجيه من الجمعية."</p>
          <h5>أحمد خالد</h5>
          <span>مستفيد</span>
        </div>
        <div class="testimonial">
          <p>"دائماً ما أجد الدعم والتوجيه من الجمعية."</p>
          <h5>أحمد خالد</h5>
          <span>مستفيد</span>
        </div>
        <div class="testimonial">
          <p>"دائماً ما أجد الدعم والتوجيه من الجمعية."</p>
          <h5>أحمد خالد</h5>
          <span>مستفيد</span>
        </div>
      </div>
    </div>
  </section>