<section class="counter-area">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="single-counter">
            <img src="assets/images/homePage/ct1.png" alt="ct1" />
            <span class="counter">4000</span>
            <h3>المتطوعين</h3>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="single-counter">
            <img src="assets/images/homePage/ct2.png" alt="ct2" />
            <span class="counter">7600</span>
            <h3>التبرعات</h3>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="single-counter">
            <img src="assets/images/homePage/ct3.png" alt="ct3" />
            <span class="counter">100</span>
            <h3>إجمالي المشاريع</h3>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="single-counter">
            <img src="assets/images/homePage/ct4.png" alt="ct4" />
            <span class="counter">200</span>
            <h3>الدول</h3>
          </div>
        </div>
      </div>
    </div>
  </section>