<div class="slick">
  <img src="assets/images/scroller_logos/logo_1.svg" alt="Logo 1" />
  <img src="assets/images/scroller_logos/logo_2.svg" alt="Logo 2" />
  <img src="assets/images/scroller_logos/logo_3.svg" alt="Logo 3" />
  <img src="assets/images/scroller_logos/logo_4.svg" alt="Logo 4" />
  <img src="assets/images/scroller_logos/logo_5.svg" alt="Logo 5" />
  <img src="assets/images/scroller_logos/logo_6.svg" alt="Logo 6" />
  <img src="assets/images/scroller_logos/logo_7.svg" alt="Logo 7" />
  <img src="assets/images/scroller_logos/logo_8.svg" alt="Logo 8" />
  <img src="assets/images/scroller_logos/logo_9.png" alt="Logo 9" />
  <img src="assets/images/scroller_logos/logo_10.png" alt="Logo 10" />
  <img src="assets/images/scroller_logos/logo_11.png" alt="Logo 11" />
  <img src="assets/images/scroller_logos/logo_12.png" alt="Logo 12" />
  <img src="assets/images/scroller_logos/logo_13.png" alt="Logo 13" />
  <img src="assets/images/scroller_logos/logo_14.png" alt="Logo 14" />
  <img src="assets/images/scroller_logos/logo_15.png" alt="Logo 15" />
  <img src="assets/images/scroller_logos/logo_16.png" alt="Logo 16" />
  <img src="assets/images/scroller_logos/logo_17.png" alt="Logo 17" />
  <img src="assets/images/scroller_logos/logo_18.jpg" alt="Logo 18" />
  <img src="assets/images/scroller_logos/logo_19.png" alt="Logo 19" />
  <img src="assets/images/scroller_logos/logo_20.png" alt="Logo 20" />
  <img src="assets/images/scroller_logos/logo_21.png" alt="Logo 21" />
  <img src="assets/images/scroller_logos/logo_22.jpg" alt="Logo 22" />
</div>
