
<section class="services section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-intro text-center">
            <h2 class="section-title">
              خدماتنا <span class="color">التطوعية</span>
            </h2>
            <p>
              نحن فريق غير ربحي نسعى إلى تقديم المساعدة والدعم لمجتمعاتنا منذ
              أوائل القرن العشرين. نؤمن بأن العمل التطوعي هو حجر الأساس لبناء
              مجتمعات أكثر تماسكًا واستدامة.
            </p>
          </div>
        </div>
      </div>
      <div class="row g-4">
        <div class="col-lg-4 col-sm-6 col-md-4">
          <div class="service-item border rounded-2">
            <span class="icon">
              <i class="fa-brands fa-broom"> </i>
            </span>
            <h4>خدمات النظافة العامة</h4>
            <p>
              نعمل على تحسين ظروف النظافة في المجتمعات المحتاجة، لضمان بيئة
              صحية وآمنة للجميع.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-4">
          <div class="service-item border rounded-2">
            <span class="icon">
              <i class="fa-solid fa-hands-holding-child"></i>
            </span>
            <h4>زيادة الوعي</h4>
            <p>
              نهدف إلى نشر الوعي حول القضايا الاجتماعية والصحية من خلال ورش
              العمل والبرامج التثقيفية.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-4">
          <div class="service-item border rounded-2">
            <span class="icon">
              <i class="fa-solid fa-person-chalkboard"></i>
            </span>
            <h4>برامج التعليم</h4>
            <p>
              نقدم فرصًا تعليمية للأطفال والشباب في المناطق المحتاجة، بهدف
              تمكينهم من بناء مستقبل أفضل.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-4">
          <div class="service-item border rounded-2">
            <span class="icon">
              <i class="fa-solid fa-hand-holding-heart"></i>
            </span>
            <h4>التبرعات</h4>
            <p>
              ننسق حملات التبرع لتقديم الدعم المالي والمادي للأسر والمجتمعات
              الأكثر حاجة.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-4">
          <div class="service-item border rounded-2">
            <span class="icon">
              <i class="fa-solid fa-notes-medical"></i>
            </span>
            <h4>البرامج الطبية</h4>
            <p>
              نقدم خدمات الرعاية الطبية للمحتاجين، بما في ذلك الفحوصات الطبية
              والعلاج المجاني.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-4">
          <div class="service-item border rounded-2">
            <span class="icon">
              <i class="fa-solid fa-hand-holding-dollar"></i>
            </span>
            <h4>مكافحة الفقر</h4>
            <p>
              نعمل على تخفيف الفقر من خلال تقديم الدعم المالي والمساعدات
              الإنسانية للمجتمعات الأكثر تضررًا.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>