<section class="volunteer-benefits section-padding">
    <div class="container">
      <h2 class="section-title mb-5 text-center">
        فوائد<span class="color"> التطوع</span>
      </h2>
      <div class="row">
        <div class="col">
          <ul>
            <li>اكتساب مهارات جديدة وتطوير القدرات الشخصية.</li>
            <li>التعرف على أشخاص جدد وبناء شبكة اجتماعية قوية.</li>
            <li>التأثير الإيجابي على المجتمع والمساهمة في تحقيق التغيير.</li>
            <li>تجربة شخصية وفردية تعزز من الشعور بالإنجاز والتفوق.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>